MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_TLS=1
MAIL_LOGIN=smtp@example.com
MAIL_PASSWORD=password
MAIL_FROM=admin@website.com
MAIL_TO='Sara Lynn <saral@northriverboats.com>'
MAIL_CC='Chris Roberts<chrisr@northriverboats.com>'
SOURCE_DIR="templates/"
TARGET_DIR="/samba/shares/recreation/Boats on Order - Smartsheet edition/"
SMARTSHEET_API="n4rem3a383zqxxlbhdmjeh9rl"
SMARTSHEET_USER="saral@northriverboats.com"
ROLLOVER='25'
ONEDATEFMT='%B'
TWODATEFMT='%b'
